mixin contacts
  -
    const formHeading = "Бесплатное занятие";
    const contactsHeading = "Контакты";
    const contacts = [
      {
        title: "Адрес",
        text: "г. Омск, ул. 60 лет Октября, 7",
      },
      {
        title: "График работы",
        text: "Пн-Вс: с 8:00 до 22:00",
      },
      {
        title: "Телефон",
        text: "8-800-555-55-55",
      },
      {
        title: "Email",
        text: "omsk@supergym.ru",
      },
    ];

  section.contacts
    .container
      h2=contactsHeading
      ul
        each item in contacts
          li
            h3=`${item.title}:`
            p=item.text
