mixin crew
  section.crew
    .container
      .swiper
        button.swiper-button.swiper-button--prev(type='button')
        .swiper-wrapper
          .swiper-slide.slide.slide--first
            p slaid 1
        .swiper-wrapper
          .swiper-slide.slide.slide--second
            p slaid 2
        .swiper-wrapper
          .swiper-slide.slide.slide--third
            p slaid 3
        button.swiper-button.swiper-button--next(type='button')
