.form {
  background-color: $color-sapphire;
  color: $color-default-white;
  width: 100%;
}

.form h2 {
  font-family: $ff-alumnisans;
  font-size: 54px;
  font-weight: 800;
  letter-spacing: 0.03em;
  line-height: 156%;
  margin: 0;
  margin-bottom: 10px;

  @include vp-1199 {
    font-size: 42px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 27px;
  }

  @include vp-767 {
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
  }
}

.form > .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: 0;
  max-width: 683px;
  padding: 56px 170px 70px 103px;
  width: 100%;

  @include vp-1199 {
    margin: 0;
    max-width: 100%;
    padding: 61px 162px 70px 133px;
  }

  @include vp-767 {
    padding: 64px 15px 69px 15px;
  }
}

.form form {
  column-gap: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include vp-1199 {
    column-gap: 60px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.form form button[type="submit"] {
  background-color: transparent;
  border: 0;
  color: $color-default-white;
  font-size: 14px;
  font-weight: 700;
  grid-column: 1/-1;
  letter-spacing: 0.05em;
  line-height: 16px;
  margin: 0;
  min-height: 54px;
  padding: 22px 20px 17px;
  position: relative;
  text-transform: uppercase;
  transition: 0.3s color;
  z-index: 0;

  @include vp-767 {
    margin-top: 15px;
  }

  &::before {
    background-color: $color-default-white;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: 0.3s clip-path;
    width: 100%;
    z-index: -1;

    @include clipOn(3px);
  }

  @include focus {
    @include default-outline($color-default-white);
  }

  @include hover-focus {
    color: $color-sapphire;

    &::before {
      @include clipOff(3px);
    }
  }
}
