mixin footer
  -
    const navLinks = [
      {
      href: '#',
      text: 'Услуги'
      },
      {
      href: '#',
      text: 'Абонементы'
      },
      {
      href: '#',
      text: 'Акции'
      },
      {
      href: '#',
      text: 'Тренеры'
      },
      {
      href: '#',
      text: 'Расписание'
      },
    ]

    const socialsLinks = [
      {
      icon: 'vk',
      iconwidth: '25',
      iconheight: '25',
      href: '#',
      aria: 'Ссылка на страницу в Вконтакте.'
      },
      {
      icon: 'ok',
      iconwidth: '25',
      iconheight: '25',
      href: '#',
      aria: 'Ссылка на страницу в Одноклассниках.'
      },
      {
      icon: 'reddit',
      iconwidth: '25',
      iconheight: '25',
      href: '#',
      aria: 'Ссылка на страницу в Реддит.'
      },
    ]

  footer.footer
    .container
      .footer__nav
        +logo
        ul
          each item in navLinks
            li
              a(href=item.href)=item.text
      .footer__social
        ul
          each item in socialsLinks
            li
              a(href=item.href aria-label=item.aria)
                +icon(item.icon, item.iconwidth, item.iconheight)
