// font-face

@mixin font-face($family, $style, $weight, $file) {
  @font-face {
    font-display: swap;
    font-family: "#{$family}";
    font-style: $style;
    font-weight: $weight;
    src: url("./../fonts/#{$file}.woff2") format("woff2"), url("./../fonts/#{$file}.woff") format("woff");
  }
}

// clip-path

@mixin clipOn($value) {
  clip-path: polygon(0% 0%, 0% 100%, $value 100%, $value $value, calc(100% - $value) $value, calc(100% - $value) calc(100% - $value), $value calc(100% - $value), $value 100%, 100% 100%, 100% 0%);
}

@mixin clipOff($value) {
  clip-path: polygon(0% 0%, 0% 100%, $value 100%, $value $value, $value $value, $value calc(100% - $value), $value calc(100% - $value), $value 100%, 100% 100%, 100% 0%);
}

// visually-hidden

@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  -webkit-touch-callout: none;
  user-select: none;
  white-space: nowrap;
  width: 1px;
}

// Оутлайн

@mixin default-outline($outline-color: $color-default-white) {
  outline: 2px solid $outline-color;
  outline-offset: 2px;
}

// Фокус

@mixin default-focus($outline-color) {
  &:focus-visible {
    @include default-outline($outline-color);
    @content;
  }

  @supports not selector(:focus-visible) {
    &:focus {
      @content;
    }
  }
}

// Ховер

@mixin default-states($outline-color: $color-default-white) {
  -webkit-tap-highlight-color: transparent;
  transition: $tf-linear 0.2s opacity;

  @include hover-focus {
    @include default-focus($outline-color);
  }

  @include hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.7;
  }
}

// ретина

@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

// css вебп

@mixin graphic-webp($filename, $background-color: #000000, $extname: "jpg") {
  background-image: url("./../img/#{$filename}.#{$extname}");
  $webp: url("./../img/#{$filename}.jpg");

  @supports (background-image: $webp) {
    background-color: $background-color;
    background-image: $webp;
  }
}

// css ретина + вебп

@mixin graphic-retina($filename, $background-color: #000000, $extname: "jpg") {
  @include graphic-webp($filename, $background-color, $extname);

  @include retina {
    @include graphic-webp("#{$filename}@2x", $background-color, $extname);
  }
}

// Миксины из сборки

@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }
}

@mixin focus {
  &.focus-visible:focus {
    @content;
  }
}

@mixin active {
  &.focus-visible:active {
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }

  &.focus-visible:focus {
    @content;
  }
}

// Desktop first

@mixin vp-1919 {
  @media (max-width: ($vp-1920 - 1px)) {
    @content;
  }
}

@mixin vp-1439 {
  @media (max-width: ($vp-1440 - 1px)) {
    @content;
  }
}

@mixin vp-1365 {
  @media (max-width: ($vp-1366 - 1px)) {
    @content;
  }
}

@mixin vp-1279 {
  @media (max-width: ($vp-1280 - 1px)) {
    @content;
  }
}

@mixin vp-1199 {
  @media (max-width: ($vp-1200 - 1px)) {
    @content;
  }
}

@mixin vp-1023 {
  @media (max-width: ($vp-1024 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}

@mixin vp-374 {
  @media (max-width: ($vp-375 - 1px)) {
    @content;
  }
}

// Mobile first

// @mixin vp-375 {
//   @media (min-width: $vp-375) {
//     @content;
//   }
// }

// @mixin vp-768 {
//   @media (min-width: $vp-768) {
//     @content;
//   }
// }

// @mixin vp-1024 {
//   @media (min-width: $vp-1024) {
//     @content;
//   }
// }

// @mixin vp-1280 {
//   @media (min-width: $vp-1280) {
//     @content;
//   }
// }

// @mixin vp-1440 {
//   @media (min-width: $vp-1440) {
//     @content;
//   }
// }

// @mixin vp-1920 {
//   @media (min-width: $vp-1920) {
//     @content;
//   }
// }

// ---------------------------------

// не нужно добавлять свои миксины для ресета списков, обнуления кнопок и прочие
// этим вы усложняете работу команды, проверку вашего кода и будущую поддержку проекта
