.btn {
  color: $color-default-white;
  cursor: pointer;
  display: inline-flex;
  font-family: $ff-robotocondensed;
  font-size: 12px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 0.05em;
  line-height: 17px;
  padding: 22px 24px;
  position: relative;
  text-transform: uppercase;
  transition: 0.3s color;
  z-index: 1;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &::before {
    background-image: $gradient-button-white-300;
    background-size: 300%;
    clip-path: polygon(0% 0%, 0% 100%, 4px 100%, 4px 4px, calc(100% - 4px) 4px, calc(100% - 4px) calc(100% - 4px), 4px calc(100% - 4px), 4px 100%, 100% 100%, 100% 0%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: 0.3s background-position ease-in, 0.3s clip-path ease-in;
    width: 100%;
    z-index: -1;
  }

  @include hover-focus {
    &:not(:focus-visible) {
      &::before {
        background-position: 100%;
        clip-path: polygon(0% 0%, 0% 100%, 4px 100%, 4px 4px, 4px 4px, 4px calc(100% - 4px), 4px calc(100% - 4px), 4px 100%, 100% 100%, 100% 0%);
      }
    }
  }

  @include focus {
    @include default-outline($color-default-white);
  }
}
