.btn {
  color: $color-default-white;
  cursor: pointer;
  display: inline-flex;
  font-family: $ff-robotocondensed;
  font-size: 12px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 0.05em;
  line-height: 17px;
  padding: 22px 24px;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  text-transform: uppercase;
  transition: 0.3s color;
  z-index: 1;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &::before {
    background-image: $gradient-button-white-300;
    background-size: 300%;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: 0.2s background-position, 0.2s clip-path;
    width: 100%;
    z-index: -1;

    @include clipOn(4px);
  }

  @include hover-focus {
    &:not(:focus-visible) {
      &::before {
        background-position: 100%;

        @include clipOff(4px);
      }
    }
  }

  @include focus {
    @include default-outline($color-default-white);
  }
}
