.custom-toggle {
  &--checkbox {
    margin-bottom: 30px;

    @include vp-767 {
      margin-bottom: 25px;
    }

    & input {
      @include visually-hidden;

      &.focus-visible + label {
        @include default-outline($color-default-black);
      }

      & + label {
        align-items: center;
        cursor: pointer;
        display: flex;
        font-size: 10px;
        gap: 5px;
        line-height: 13px;
        margin-right: 0 0 20px 0;
        min-height: 18px;
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        width: 100%;

        @include default-outline(transparent);

        @include hover-focus {
          @include default-outline($color-default-black);
        }

        @include vp-767 {
          gap: 8px;
          line-height: 12px;
        }

        & .custom-toggle__icon {
          background-color: $color-default-black;
          background-image: url("./../img/svg/custom-toggle-checkmark.svg");
          background-position: -12px;
          background-repeat: no-repeat;
          background-size: 12px;
          flex-shrink: 0;
          height: 18px;
          transition: 0.4s cubic-bezier(0, 2, 0.5, 1) background-position;
          width: 18px;

          @include vp-767 {
            height: 20px;
            width: 20px;
          }
        }
      }
    }

    & input:checked + label .custom-toggle__icon {
      background-position: center;
    }
  }

  &.is-invalid input {
    & + label {
      outline-color: #ff1553;

      @include hover-focus {
        @include default-outline(rgba(#ff1553, 0.5));
      }
    }

    &.focus-visible + label {
      @include default-outline(rgba(#ff1553, 0.5));
    }
  }

  &--radio {
    & .custom-toggle__icon {
      border: 1px solid #2c39f2;
      border-radius: 50%;
      height: 28px;
      left: 0;
      position: absolute;
      top: 0;
      transition: border 0.3s ease;
      width: 28px;

      &::before {
        border-radius: 50%;
        color: rgba(255, 255, 255, 0);
        content: "";
        height: 20px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: color 0.3s ease;
        width: 20px;
      }
    }
  }

  & .input-message {
    bottom: -5px;
    position: absolute;
    right: 0;

    &--invalid {
      color: #ff0000;
    }

    &--valid {
      color: #15ab07;
    }
  }
}
